.gear{
  position: relative;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
  animation-timing-function: linear;
}

#gear1{
  width: 7vw;
  left: 8.1vw;
  bottom: 1.6vw;
  animation-name: ccw;
  animation-duration: 16s;
}

#gear2{

  width: 9vw;
  bottom: 4.5vw;
  left: 6.8vw;
  animation-name: ckw;
  animation-duration: 20s;
}

#gear3{

  width: 11.5vw;
  top: 3.9vw;
  left: 0.25vw;
  animation-name: ccw;
  animation-duration: 24s;
}

#gear4{
  width: 8vw;
  right: 3vw;
  bottom: 1.4vw;
  animation-name: ckw;
  animation-duration: 16s;
}

#gear5{
  width: 4.5vw;
  right: 4.2vw;
  bottom: 3.2vw;
  animation-name: ccw;
  animation-duration: 12s;
}

/*rotation animation*/
@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ccw {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*responsiveness*/
@media only screen and (max-width: 700px) {

  .GearsContainer{
    left: 5vw;
  }

  #gear1{
    width: 12vw;
    left: 16.2vw;
    bottom: 3.2vw;
  }

  #gear2{

    width: 18vw;
    bottom: 9vw;
    left: 13.6vw;
  }

  #gear3{

    width: 23vw;
    top: 7.8vw;
    left: 0.5vw;
  }

  #gear4{
      width: 16vw;
      right: 6vw;
      bottom: 2.8vw;
  }

  #gear5{
    width: 9vw;
    right: 8.4vw;
    bottom: 6.4vw;
  }
}
